Repository Lissy93/dashy, pull requests merged in 2022-06, with the labels that each got.

#691 [FEATURE] Extend visibility to section items
  docs/authentication.md
  docs/configuring.md
  src/components/Workspace/SideBar.vue
  src/mixins/HomeMixin.js
  src/utils/CheckItemVisibility.js
  src/utils/CheckSectionVisibility.js
  src/utils/ConfigSchema.json
  src/utils/IsVisibleToUser.js
Labels: ✨ New Feature

#705 Fix typo in management.md
  docs/management.md
Labels: 📕 Docs

#711 Add Korean translations
  README.md
  src/assets/locales/ko.json
  src/utils/languages.js
Labels: 🌐 Language

#714 :sparkles: Optionally allow StatPing widget to filter on group
  docs/widgets.md
  src/components/Widgets/StatPing.vue
Labels: ✨ New Feature

#741 Update readme.md - fix TDLR to TLDR ;)
  docs/readme.md
Labels: 📕 Docs

#740 Feature/nextcloud widgets
  docs/widgets.md
  src/assets/locales/en.json
  src/components/Widgets/NextcloudNotifications.vue
  src/components/Widgets/NextcloudPhpOpcache.vue
  src/components/Widgets/NextcloudStats.vue
  src/components/Widgets/NextcloudSystem.vue
  src/components/Widgets/NextcloudUser.vue
  src/components/Widgets/NextcloudUserStatus.vue
  src/components/Widgets/WidgetBase.vue
  src/mixins/NextcloudMixin.js
  src/styles/widgets/nextcloud-shared.scss
  src/utils/MiscHelpers.js
Labels: ✨ New Feature
